# Intellij
######################
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn
